{block footer}
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">Petr Šimeček - <a href="//petrsimecek.cz">https://petrsimecek.cz</a> &copy 2019</span>
    </div>
</footer>
{/block}