{block header}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class=" container">
        <a class="navbar-brand" href="#">Fixed navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <span class="login">
                {if $user->isLoggedIn()}
                    <div class="user-info">
                    Login: <span>{$user->getIdentity()->getData()['username']}</span>
                    Zaregistrován: <span>{$user->getIdentity()->getData()['registered']|date:'d.m.Y H:i:s'}</span>
                    <a href="{link User:changePassword}">Změna hesla</a>
                    <a href="{link logout!}">Logout</a>
                    </div>
                {else}
                    {form loginForm}
                        {if $form->hasErrors()}
                            {foreach $form->errors as $error}
                            <script>alert({$error});</script>
                            {/foreach}
                        {/if}
                        <span>{label username /} {input username}</span>
                        <span>{label password /} {input password}</span>
                        <span>{input email} {input login}</span>
                        <span><a class="" href="{link Registration:}">Registrovat</a></span>
                    {/form}

                {/if}
            </span>
        </div>
    </div>
</nav>
</header>
{/block}