{block styles}
	<style>

	</style>
{/block}

{block scripts}
    {include parent}
{/block}

{block content}
<div class="row">
	<div class="col-12">
		<h2>Změna hesla</h2>
	</div>
	<div class="col-12">
		<div>
			{control passwordChangeForm}
		</div>
	</div>
</div>

